USE [master]
GO
/****** Object:  Database [GloBank]    Script Date: 7/12/2022 7:07:27 PM ******/
CREATE DATABASE [GloBank]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GloBank', FILENAME = N'D:\Programas\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GloBank.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GloBank_log', FILENAME = N'D:\Programas\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GloBank_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GloBank].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GloBank]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/12/2022 7:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 7/12/2022 7:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Contrasena] [varchar](20) NOT NULL,
	[Estado] [bit] NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Genero] [varchar](20) NULL,
	[Edad] [int] NULL,
	[Identificacion] [varchar](20) NULL,
	[Direccion] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cuenta]    Script Date: 7/12/2022 7:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cuenta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroCuenta] [varchar](20) NOT NULL,
	[TipoCuenta] [varchar](20) NOT NULL,
	[SaldoInicial] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NULL,
	[ClienteId] [int] NOT NULL,
 CONSTRAINT [PK_Cuenta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimiento]    Script Date: 7/12/2022 7:07:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[TipoMovimiento] [varchar](1) NOT NULL,
	[Valor] [decimal](10, 2) NOT NULL,
	[Saldo] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NULL,
	[CuentaId] [int] NOT NULL,
 CONSTRAINT [PK_Movimiento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cuenta_ClienteId]    Script Date: 7/12/2022 7:07:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Cuenta_ClienteId] ON [dbo].[Cuenta]
(
	[ClienteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Movimiento_CuentaId]    Script Date: 7/12/2022 7:07:28 PM ******/
CREATE NONCLUSTERED INDEX [IX_Movimiento_CuentaId] ON [dbo].[Movimiento]
(
	[CuentaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Estado]
GO
ALTER TABLE [dbo].[Cuenta] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Estado]
GO
ALTER TABLE [dbo].[Movimiento] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Movimiento] ADD  DEFAULT (CONVERT([bit],(1))) FOR [Estado]
GO
ALTER TABLE [dbo].[Cuenta]  WITH CHECK ADD  CONSTRAINT [FK_Cuenta_Cliente_ClienteId] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Cliente] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cuenta] CHECK CONSTRAINT [FK_Cuenta_Cliente_ClienteId]
GO
ALTER TABLE [dbo].[Movimiento]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_Cuenta_CuentaId] FOREIGN KEY([CuentaId])
REFERENCES [dbo].[Cuenta] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Movimiento] CHECK CONSTRAINT [FK_Movimiento_Cuenta_CuentaId]
GO
USE [master]
GO

INSERT INTO GloBank.dbo.Cliente (Contrasena,Estado,Nombre,Genero,Edad,Identificacion,Direccion,Telefono) 
VALUES
	 ('123',1,'Carlos García',NULL,NULL,NULL,'Quito','0987512455'),
	 ('1234',1,'Jose Lema',NULL,NULL,NULL,'Otavalo sn y principal','098254785'),
	 ('5678',1,'Marianela Montalvo',NULL,NULL,NULL,'Amazonas y NNUU','097548965'),
	 ('1245',1,'Juan Osorio',NULL,NULL,NULL,'13 junio y Equinoccial','098874587');

GO

INSERT INTO GloBank.dbo.Cuenta (NumeroCuenta,TipoCuenta,SaldoInicial,Estado,ClienteId) VALUES
	 (N'751891',N'Ahorros',100.15,1,1),
	 (N'478758',N'Ahorros',2000.00,1,2),
	 (N'585545',N'Corriente',1000.00,1,2),
	 (N'225487',N'Corriente',100.00,1,3),
	 (N'496825',N'Ahorros',540.00,1,3),
	 (N'495878',N'Ahorros',0.00,1,4);

INSERT INTO GloBank.dbo.Movimiento (Fecha,TipoMovimiento,Valor,Saldo,Estado,CuentaId) VALUES
	 ('2022-07-12 19:09:47.567',N'C',20.12,120.27,1,1),
	 ('2022-07-12 19:09:47.567',N'D',-20.27,100.00,1,1),
	 ('2022-06-30 15:00:00.0',N'D',-575.00,1425.00,1,2),
	 ('2022-06-30 15:00:00.0',N'D',-575.00,425.00,1,3),
	 ('2022-06-30 15:00:00.0',N'C',100.00,200.00,1,4),
	 ('2022-07-10 15:00:00.0',N'D',-540.00,0.00,1,5),
	 ('2022-06-30 15:00:00.0',N'C',100.00,100.00,1,6);
